<footer class="footer bg-body-tertiary"  >
    <div class="footer-div" >
        <div class="links">
            &copy; 2025 travell.com,Inc. &nbsp; 路&nbsp;<a href="mailto:noreplyfromtraveldotcom@gmail.com" class="footer-link" style="font-weight: bold; color: rgb(6, 168, 171) !important;">Contact Us </a> &nbsp;路&nbsp;<a  style="font-weight: bold; color: rgb(6, 168, 171) !important;" href="/user/feedback" class="footer-link">Give us feedback</a>&nbsp;路&nbsp;<a href="" class="footer-link">Sitemap</a>&nbsp;路&nbsp;<a href="" class="footer-link">Company details</a>
        </div>
        <div class="social">
           <i class="fa-brands fa-facebook"></i>
           &nbsp;&nbsp;&nbsp;
           <i class="fa-brands fa-x-twitter"></i>
           &nbsp;&nbsp;&nbsp;
           <i class="fa-brands fa-instagram"></i> 
        </div>
    </div>
</footer>