<footer class="footer"  >
    <div class="footer-div" >
        <div class="links">
            &copy; 2025 travell.com,Inc. &nbsp; 路&nbsp;<a href="" class="footer-link">Privacy</a> &nbsp;路&nbsp;<a href="" class="footer-link">Terms</a>&nbsp;路&nbsp;<a href="" class="footer-link">Sitemap</a>&nbsp;路&nbsp;<a href="" class="footer-link">Company details</a>
        </div>
        <div class="social">
           <i class="fa-brands fa-facebook"></i>
           &nbsp;&nbsp;&nbsp;
           <i class="fa-brands fa-x-twitter"></i>
           &nbsp;&nbsp;&nbsp;
           <i class="fa-brands fa-instagram"></i> 
        </div>
    </div>
</footer>